<div class="container hero-body" ng-show="!vm.reg">
    <h1>Register</h1>
    <p>first name :</p><input class="input is-danger"type="text"  ng-model="firstName" autofocus>
    <p>E-mail :</p><input class="input is-danger"type="text"  ng-model="email" >
    <p>description :</p><input class="input is-danger"type="text"  ng-model="description" >
    <p>select locations :</p><div  ng-dropdown-multiselect="" options="locationdata" selected-model="locationmodel"extra-settings="locationsettings" translation-texts="locationcustomTexts"></div>
    <p>select youe skills :</p><div ng-dropdown-multiselect="" options="skillsdata" selected-model="skillsmodel"extra-settings="skillssettings" translation-texts="skillscustomTexts">></div>
    <p>user :</p><input class="input is-danger"type="text"  ng-model="userName" >
    <p>pass :</p><input class="input is-danger"type="text"  ng-model="pass" >
     <button  class="button is-danger"ng-click="vm.register(firstName,email,description,userName,pass)">Register</button>
    <h1>{{regMsg}}</h1>
</div>  