<div class="box container hero-body">
    <!--<h2>{{vm.id}}</h2>-->
    <h1>{{vm.title}}</h1>
    <h3>{{vm.pubDate}}</h3>
    <p>{{vm.description}}</p>
    <p>{{vm.locationName}}</p>


    <button class="button is-danger"ng-show="checkLogin()" ng-disabled="false" ng-click="vm.applyJob()" >apply</button>

    <button class="button is-danger"ng-show="!vm.skillsShow" ng-click="vm.toggleSkillsShow()">show skills</button>
    <button class="button is-danger"ng-show="vm.skillsShow" ng-click="vm.toggleSkillsShow()">hide skills</button>

    <div ng-show="vm.skillsShow">



        <skills skills="vm.skills"></skills>


    </div>
</div>