<div>
    <h1 class="is-size-2">
        this are JOBS that you published
    </h1>
    <a href="#!publishJob" class="button is-danger" ng-click="">publish job</a>
  
    <div ng-repeat="job in myJobs track by $index">
        <job id="job.id" title="job.jobName" description="job.description" pub-date="job.pub_date" location-name="job.locationName"
            skills="job.skillNames"></job>
    </div>
    <h1 class="is-size-2">
        this are JOBS that you are aplied for
    </h1>

    <div ng-repeat="job in myApplyedJobs track by $index">
            <job id="job.id" title="job.jobName" description="job.description" pub-date="job.pub_date" location-name="job.locationName"
                skills="job.skillNames"></job>
        </div>





        
</div>